numpy>=2.4.3
tqdm>=4.67.3
fastapi>=0.135.1
uvicorn>=0.42.0
nltk>=3.9.3
scikit-learn>=1.8.0
keras>=3.14.0
jax>=0.4.31
jaxlib>=0.4.31
matplotlib>=3.10.0
Pillow>=11.1.0
requests>=2.32.3
websockets>=14.0
pyBlindOpt>=0.2.8
